@media (min-width: 66.5rem)
{
.site-footer{
    display: none;
}
}
.btn-pc ,.btn-windows ,.btn-linux,.btn-mac, .btn-server,.btn-cloud,.btn-aws, .btn-kubernetes {
    margin-left: 20px;
    padding-bottom: 0px;
}
.main {
    max-width: 900px;
}
.btn{
    margin: 10px;
}
.btn-aws{
    width: 240px;
}
.btn:hover {
    background-color: #91afc2
}
.btn-pc ,.btn-cloud{
width: 200px;
padding-bottom: 19px;
}
.btn-linux,.btn-mac,.btn-windows{
    width: 200px;
}
.btn-kubernetes,.btn-aws{
    width: 250px;
}
.svg-label{
    font-size: 30px;
}
.containerized{
    font-size: 20px;
}
.btn-server{
    line-height: 1;
    width: 200px;
    padding-bottom: 10px;
}
.breadcrumb-nav-list-item {
    a{
        color: #5c5962;
        text-decoration: none;
        cursor:text;
    }
}
