@media (min-width: 66.5rem)
{
.site-footer{
    display: none;
}
}
.btn-pc ,.btn-windows ,.btn-linux,.btn-mac, .btn-server,.btn-cloud,.btn-aws, .btn-kubernetes {
    margin-left: 20px;
    padding-bottom: 0px;
}
.main {
    max-width: 900px;
}
.btn-aws{
    width: 240px;
}
.btn:hover {
    background-color: #91afc2
}
.btn-pc {
   width: 160px;
}
.btn-linux,.btn-mac{
    width: 170px;
}
.svg-label{
    font-size: 30px;
}

