@media (min-width: 66.5rem)
{
.site-footer{
    display: none;
}
}
.btn-linux,.btn-mac, .btn-server,.btn-cloud,.btn-aws {
    margin-left: 20px;
}
.main {
    max-width: 900px;
}
.site-nav {
    margin-left: 0px;
}
.btn:hover {
    background-color: #91afc2
}
.pc-btns{
    margin-top: 20px;
}